.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

.container .img-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data .title-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.data p {
    font-size: 23px;
    font-weight: 400;
}

.container .settings-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 40vw;
}