.nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#nav-button {
    margin-right: 20px;
}

.profile .options {
    display: none;
}

.profile:hover .options {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 5px;
    transform: translateX(-30px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
}

.profile .options span {
    padding: 15px;
    cursor: pointer;
    color: rgb(62, 136, 248);
    display: flex;
}